<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<Header>
  <nav class="navbar navbar-light " style="background-color: #1573FE">
    <div class="container-fluid">
      <h1>VISUALIZAÇÃO</h1>
      <a href="/" class="navbar-brand">GRUPO BYRON</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </nav>
</Header>
<body>
  <div class="col-8 m-auto pt-5 pd-2 text-center">
    <strong>CNPJ: </strong> {{db.cnpj}}<br>
    <strong>Nome da Loja Parceira: </strong> {{db.store_name}}<br>
    <strong>Categoria do Produto: </strong> {{db.product_category}}<br>
    <strong>Produto: </strong> {{db.product}}
  </div>
 </body>
 <footer>
  <nav class="navbar fixed-bottom navbar-light " style="background-color: #1573FE">
    <a class="navbar-brand" href="#">Fixo na parte inferior </a>
  </nav>
 </footer>
</html>